body {
    background-color: whitesmoke;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

div.portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial narrow;
}

/* SIDEBAR */

div.sidebar {
    width: 20%;
    overflow: scroll;
    height: 100vh;
}

div.name {
    font-size: 64px;
    padding: 10px;
}

div.logo {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    border-bottom: 1px dotted black;
}

div.logo img {
    width: 50%;
}

div.nav {
    padding: 10px;
    font-size: 32px;
    border-bottom: 1px dotted black;
}

div.display {
    display: none;
    padding-top: 10px;
}

div.nav div.display {
    font-size: 24px;
}

/* PROJECT CONTENTS */

div.content {
    border-left: 1px dotted black;
    height: 100vh;
    width: 80%;
    padding: 10px;
    overflow: scroll;
}