* {
    box-sizing: border-box;
}
  
  img {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  ::selection {
    color: rgb(201, 179, 237);
  }

  @font-face {
    font-family: "redaction";
    src: url("Redaction35-Regular.woff");
  }

  @font-face {
    font-family: "redaction-ital";
    src: url("Redaction35-Italic.woff");
  }

  @font-face {
    font-family: "18cent";
    src: url("18thCtrKurTxt.woff");
  }
  
  body {
    font-size: 60px;
    font-family: arial narrow;
  }
  
  div.compass {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 400px;
    height: 400px;
    z-index: 10;
    pointer-events: none;
    margin-left: -200px;
    margin-top: -200px; 
    left: 50%;
    top: 50%;
    transition: 0.5s;
    transform-origin: center center;
  }

  div.border {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 100vh; 
    z-index: 9;
    pointer-events: none;
    /* left: 50%;
    top: 50%; */
    /* margin-left: 150px;
    margin-top: 150px; */
    /* transform: translate(-50%, -50%); */
  }

  div.border img {
    height: 100vh;
    box-shadow: 2px 2px 2px black;
  }

  div.iconcontainer {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 8vh;
    z-index: 11;
  }

  div.icons {
    display: flex;
    flex-wrap: wrap;
  }

  div.icon {
    margin: 20px;
  }

  div.icons img {
    width: 80px;
    cursor: help;
  }

  div.inventory {
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    display: none;
    width: 30%;
    background-color: darkkhaki;
    font-size: 50px;
    border: 20px;
    border-color: gainsboro;
    border-style: ridge;
    font-family: cursive;
    z-index: 12;
    text-align: center;
  }

  div.inventorytitle {
    padding: 20px;
    width: 100%;
  }

  div.inventoryicons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.inventoryicon {
    width: 27%;
  }

  div.inventory img {
    margin: 10px;
    padding: 10px;
  }

  .show {
    display: block !important;
  }

  div.dungeon {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: flex-end;
    /* justify-content: flex-end; */
    width: 25%;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
    /* left: 50%;
    top: 50%; */
    /* margin-left: 150px;
    margin-top: 150px; */
    /* transform: translate(-50%, -50%); */
  }

  div.map {
    display: flex;
    flex-wrap: wrap;
    width: 300vw;
  }
  
  /* MAPBLOCK */

  div.mapBlock {
    width: 100vw;
    height: 100vw;
    padding: 20px;
    /* border: 1px solid black; */
    overflow: scroll;
    opacity: 0;
    position: relative;
  }

  div.mapBlock.n {
    background-image: url("background5.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }
  
  div.mapBlock.nw {
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }

  div.mapBlock.ne {
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }

  div.mapBlock.e {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }

  div.mapBlock.w {
    background-image: url("background4.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }

  div.mapBlock.c {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }

  div.mapBlock.s {
    background-image: url("background5.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }

  div.mapBlock.sw {
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }

  div.mapBlock.se {
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
  }

  div.mapBlock.show {
    opacity: 1;
  }
  
  div.grid {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin-top: 12.5%;
    /* height: 100vh;
    overflow: scroll; */
  }

  div.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  div.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-end;
    width: 50%;
  }

  div.centertitle {
    width: 100%;
    font-size: 70px;
    font-family: "redaction";
    text-align: center;
    margin-bottom: 20px;
  }

  div.centertext {
    width: 100%;
    height: 50vh;
    overflow: scroll;
    background-color: darkkhaki;
    padding: 20px;
    font-size: 50px;
    border: 20px;
    border-color: gainsboro;
    border-style: ridge;
    font-family: cursive;
  }

  div.author {
    font-size: 30px;
    font-family: arial narrow;
    font-weight: bold;
    width: 40%;
  }

  div.col {
    width:50%;
  }

  span.italics {
    font-style: italic;
  }

  div.title {
    font-size: 250px;
    font-family: "redaction";
    line-height: 240px;
    text-align: center;
  }

  div.text {
    font-size: 30px;
    overflow: scroll;
    height: 50vh;
    padding: 20px;
    background-color: darkkhaki;
    border: 10px;
    border-style: ridge;
  }

  span.letter {
    filter: blur(10px);
  }

  span.letter:hover {
    filter: blur(0px);
  }

  span.btnlink {
    background-color: lime;
    cursor: pointer;
  }

  /* BUTTONS */

  .btnStyle:hover {
    transition: 1s;
    color: transparent;
    text-shadow: 0 0 30px black;
  }
  
  .btnStyle {
    color: transparent;
    text-shadow: 0 0 0px black;
    background-color: rgb(201, 179, 237);
    margin-top: 15px;
    padding: 10px;
    /* border-radius: 100px; */
    border-style:groove;
    border-width: 10px;
    border-color: gainsboro;
    font-family: Arial narrow;
  }

  /* Globals */

  .pointer {
    cursor: pointer;
  }

  .crosshair:hover {
    cursor: crosshair;
  }

  .italics {
    font-family: "redaction-ital";
  }

  .w-40 {
    width: 50%;
  }

  /* ENEMY PAGE */

  div.container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: gainsboro;
  }

  div.enemy {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "redaction";
    font-size: 100px;
    background-color: gainsboro;
    text-align: left;
  }

  div.enemy img{
    width: 15%;
  }
