body {
    background-color: gainsboro;
    overflow: hidden;
}

@font-face {
    font-family: "garamondt";
    src: url("Garamondt-Italic.woff");
}

@font-face {
    font-family: "fromages";
    src: url("4-Fromages-Regular.woff");
}

@font-face {
    font-family: "tribalium";
    src: url("TribaliumNeue-Poster.woff");
}

div.container {
    height: 100vh;
}

div.top {
    font-family: "fromages";
    font-size: 70px;
    padding-top: 1%;
    line-height: 0px;
    text-align: center;
    color: black;
    text-shadow: 0 0 10px black;
}

div.bottom {
    position: relative;
    bottom: -76vh;
    font-family: "fromages";
    font-size: 70px;
    text-align: center;
    color: black;
    text-shadow: 0 0 10px black;
}

div.side1 {
    position: relative;
    left: -48.5%;
    font-family: "fromages";
    font-size: 70px;
    transform: rotate(90deg);
    text-align: center;
    color: black;
    text-shadow: 0 0 10px black;
}

div.side2 {
    position: relative;
    left: 48.5%;
    font-family: "fromages";
    font-size: 70px;
    transform: rotate(90deg);
    text-align: center;
    color: black;
    text-shadow: 0 0 10px black;
}

div.text {
    font-family: "garamondt";
    font-size: 50px;
    text-align: center;
    color: black;
}

.obsessed {
    font-family: "tribalium";
    font-size: 60px;
}

div.tombstones {
    margin-top: 5.5%;
    font-family: "tribalium";
    font-size: 130px;
    text-align: center;
    line-height: 125px;
    letter-spacing: 5px; 
    color: black;
    transform: scaleY(2.5);
    text-shadow: 0 0 10px black;
}