body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@font-face {
    font-family: "anthony";
    src: url("Anthony.woff");
}

div.poster {
    width: 100%;
    margin: auto;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

div.col {
    overflow: hidden;
}


/* 2 column grid */

div.w1-2 {
    width: 50%;
}

div.w2-2 {
    width: 100%;
}

div.text {
    font-size: 70px;
    font-family: "anthony";
    text-align: left;
    color: black;
    transition: 0.5s; 
}

div.text2 {
    font-size: 70px;
    font-family: "anthony";
    text-align: left;
    color: yellow;
    transition: 0.5s; 
}

/* WIDTH 10*/

.w1-10 {
    width: 10%;
  }
    
  .w2-10 {
    width: 20%;
  }
  
  .w3-10 {
    width: 30%;
  }
  
  .w4-10 {
    width: 40%;
  }
    
  .w5-10 {
    width: 50%;
  }
    
  .w6-10 {
      width: 60%;
  }
  
  .w7-10 {
      width: 70%;
  }
  
  .w8-10 {
      width: 80%;
  }
  
  .w9-10 {
      width: 90%;
  }
    
  .w10-10 {
      width: 100%;
  }

/* SET 1 */

/* rule 1 */

div.text.one {
    font-size: 20px;
}

div.text.two {
    font-size: 40px;
}

div.text.three {
    font-size: 80px;
}


/* rule 2 */

div.text.a {
    /* background-color: yellow; */
    background-image: url("images/butterfly1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: transparent;
}

div.text.b {
    /* background-color: blueviolet; */
    background-image: url("images/red-thing.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: transparent;
}

div.text.c {
    background-image: url("images/wilted-flowers.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: transparent;
}


/* rule 3 */

div.text.x {
    text-align: center;
}

div.text.y {
    text-align: left;
}

div.text.z {
    text-align: right;
}

/* SET 2 */

/* rule 1 */

div.text2.one {
    font-size: 40px;
}

div.text2.two {
    font-size: 80px;
}

div.text2.three {
    font-size: 100px;
}


/* rule 2 */

div.text2.a {
    transform: rotate(20deg);
}

div.text2.b {
    transform: rotate(-30deg);
}

div.text2.c {
    transform: rotate(0deg);
}


/* rule 3 */

div.text2.x {
    text-align: center;
}

div.text2.y {
    background-color: blueviolet;
    text-align: left;
}

div.text2.z {
    background-color: black;
    text-align: right;
}

div.small {
    font-family: "anthony";
    font-size: 30px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}