body {
    background-image: url("images/windows.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "lores";
    src: url("BBB_Simulator_Black.woff");
}

div.poster {
    width: 75%;
    margin: auto;
    /* background-image: url("images/fairy-blue.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; */
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

div.col {
    overflow: hidden;
    /* background-color: pink; */
}

/* 2 column grid */

div.w1-2 {
    width: 50%;
}

div.w2-2 {
    width: 100%;
}

div.text {
    font-size: 70px;
    font-family: "lores";
    text-align: left;
    color: black;
    transition: 0.5s; 
}

/* rule 1 */

div.text.one {
    font-size: 60px;
}

div.text.two {
    font-size: 90px;
}

div.text.three {
    font-size: 110px;
}


/* rule 2 */

div.text.a {
    background-image: url("images/error.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: transparent;
}

div.text.b {
    background-image: url("images/paint.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: transparent;
}

div.text.c {
    
}


/* rule 3 */

div.text.x {
    transform: rotate(0);
}

div.text.y {
    transform: rotate(25deg);
}

div.text.z {
    transform: rotate(60deg);
}

div.small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}