body {
    height: 100vh;
    font-family: arial narrow;
    text-align: center;
}

div.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 50%;
}

img {
    width: 50%;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
}

p {
    font-size: 1.5em;
    margin: 20px;
    width: 50%;
}

a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
    background-color:firebrick;
    color: yellow;
    border-radius: 10px;
    padding: 10px;
}

a:hover {
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    div.content {
      width: 100%;
    }

    p {
        width: 100%;
      }

    img {
        width: 80%;
    }
  }