body {
    background: black; 
    box-shadow: inset 0 0 30px 20px palegreen;
    border-radius: 500px 500px 0 0;
}

div.poster {
    width: 100%;
}

div.container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

div.col {
    overflow: hidden;
}


div.text {
    font-size: 90px;
    font-family: Arial narrow;
    text-align: center;
    color: whitesmoke;
    transition: 0.5s;
}


/* rule 1 */

div.text.one {
    text-align: center;
}

div.text.two {
    text-align: left;
}

div.text.three {
    text-align: right;
}


/* rule 2 */

div.text.a {
    border-radius: 0px;
    background: radial-gradient( mediumpurple 0%, palegreen 25%, mediumpurple 50%, black 75%);  
    
}

div.text.b {
    border-radius: 100px;
    background: radial-gradient( palegreen 0%,mediumpurple 25%, palegreen 100%);  
}

div.text.c {
    border-radius: 50px; 
    background: radial-gradient( black 0%, palegreen 30%, mediumpurple 75%);  

}


/* rule 3 */

div.text.x {
    width: 75%;
}

div.text.y {
    width: 100%;
}

div.text.z {
    width: 25%;
}

div.byline {
    background: black;  
    box-shadow: inset 0 0 20px 10px mediumpurple;
    padding: 1%;
    font-family: Arial narrow;
    width: 30%;
    font-size: 20px;
    border-radius: 0 0 100px 100px;
    color: whitesmoke;
    margin: auto;
    text-align: center;
}

