body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: powderblue;
    color: orangered;
  }
  
  .reveal {
    /* text-decoration: underline; */
    opacity: 1;
  }
  
  .underline {
    text-decoration: underline;
  }
  .square-container {
    display: none;
  }
  .square-container-d {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -5vh;
  
    margin-left: 4vh;
    margin-right: 4vh;
  
    /* padding-bottom: 4vh; */
  
    /* IPHONE X & + */
    /* transform: scale(1.1);
        margin-top: 1vh; */
  }
  
  .square {
    position: relative;
    flex-basis: calc(100% / 15);
    /* border: 1px solid; */
    box-sizing: border-box;
    outline: 1px solid;
    outline-offset: -0.5px;
    cursor: pointer;
  }
  .mini {
    font-size: 1vw;
    position: absolute;
    top: 0;
    left: 1;
    margin: 0.75vw;
  }
  
  .square::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .square .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
  }
  ul {
    padding-left: 1vh;
  }
  ul:nth-child(1) {
    padding-left: 0;
  }
  li {
    list-style: none;
    opacity: 0.075;
  }
  
  .h {
    visibility: hidden;
  }
  .numb {
    text-decoration: none !important;
  }
  .head-list {
    top: 0;
    position: absolute;
    text-decoration: none !important;
    opacity: 1 !important;
  }
  footer div:nth-child(3) ul li {
    opacity: 1 !important ;
  }
  .o {
    opacity: 0;
  }
  footer {
    display: flex;
    width: 98%;
    justify-content: space-between;
    font-size: 1vw;
    position: fixed;
    bottom: 0vh;
    left: 0;
    right: 0;
    margin: auto;
  }
  footer div {
    display: flex;
  }
  
  a {
    /* text-decoration: none; */
    color: green;
  }
  
  video {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }
  
  .vid > video {
    transition: 0.2s ease-in-out;
  }
  