html {
	font-size: 8px;
}

body {
	background-color: black;
	font-family: arial narrow;
	font-size: 20px;
	color: black;
}

::-moz-selection { 
	background: none; 
	color: rgba(0,0,0,.3);
}
::selection { 
	background: none; 
	color: rgba(0,0,0,.3);
}

@font-face {
    font-family:'Times Now';
    src:url('fonts/TimesNow-ExtraLight.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
}

@font-face {
    font-family:'Times Now';
    src:url('fonts/TimesNow-ExtraLightItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: 300;
}

@font-face {
    font-family:'Times Now';
    src:url('fonts/TimesNowSemiLight.woff') format('woff2');
	font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family:'Times Now';
    src:url('fonts/TimesNowSemiLightIT.woff') format('woff2');
	font-style: italic;
	font-weight: 400;
}

@font-face {
    font-family:arial narrow;
    src:url('fonts/FoundersGroteskWeb-Medium.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
}

@font-face {
    font-family:arial narrow;
    src:url('fonts/FoundersGroteskWeb-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family:arial narrow;
    src:url('fonts/FoundersGroteskWeb-Light.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
}

.page {
	display: flex;
	flex-flow: row wrap;
	width: 100vw;
	min-width: 100%;
	height: 100vh;
	min-height: 100%;
}

.home {
	display: flex;
	flex-flow: column nowrap;
	width: calc(100vw - 150px);
	min-width: calc(100vw - 150px);
	height: 100%;
	background-color: gainsboro;
	user-select: none;
	border: solid 1px black;
	border-right: none;
	border-radius: 16px;
	overflow: hidden;
	transition: 1.3s;
}

.home.shrink {
	height: 72px;
}

	.title	{
		max-width: 900px;
		margin-left: 70px;
		margin-top: 104px;
	}

	.line {
		border-top: solid 1px black;
		padding-bottom: 32px;
		width: 96%;
	}

	.FGR-title {
		font-family: arial narrow;
		font-weight: normal;
		font-size: 8.8rem;
		line-height: 8.4rem;
	}

	.TNSL-title {
		font-family: 'Times Now';
		font-size: 8.6rem;
		line-height: 8.4rem;
		font-weight: 300;
	}

	.FGR {
		font-family: arial narrow;
		font-weight: normal;
		font-size: 8.8rem;
		line-height: 10.2rem;
	}

	.TNSL {
		font-family: 'Times Now';
		font-style: normal;
		font-size: 8.6rem;
		line-height: 10.2rem;
		font-weight: 300;
	}

	.underline {
		padding-bottom: 20px;
		border-bottom: solid 1px black;
	}

	.marker {
		width: 50px;
		height: 50px;
		font-family: arial narrow;
		font-weight: bold;
		font-size: 3rem;
		text-align: center;
		user-select: none;
	}

	.main-home {
		position:fixed;
		z-index: 100;
		width: 50px;
		height: 50px;
		padding-top: 24px;
		padding-left: 2px;
		font-family: arial narrow;
		font-weight: bold;
		font-size: 3rem;
		text-align: center;
		user-select: none;
		cursor: pointer;
	}

/* ABOUT SECTION*/	

	.about-tab-trigger {
		position:fixed;
		z-index: 0;
		left: 3px;
		bottom: 0px;
		width: 100px;
		height: 50px;
		padding-left: 2px;
		font-family: arial narrow;
		font-weight: bold;
		font-size: 3rem;
		text-align: center;
		user-select: none;
		cursor: pointer;
		opacity: 1;
	}

	.about-tab-trigger.none {
		opacity: 0;
	}

	.about-tab-close {
		position: absolute;
		z-index: 3;
		left: 4px;
		top: 12px;
		width: 50px;
		height: 50px;
		font-family: arial narrow;
		font-weight: normal;
		font-size: 4.8rem;
		text-align: center;
		user-select: none;
		cursor: pointer;
		-webkit-transform: rotate(-45deg); 
        -moz-transform: rotate(-45deg);    
        transform:rotate(-45deg);
	}

.about-tab {
	position: fixed;
	bottom: 72px;
	left: 0px;
	z-index: 2;
	height: calc(100vh - 72px);
	width: calc(100vw - 150px);
	min-width: calc(100vw - 150px);
	margin-bottom: -100vh;
	transition: 1.3s;
	background-color: gainsboro;
	border: solid 1px black;
	border-right: none;
	border-top: none;
	border-radius: 16px;
}

.about-tab.show {
	bottom: 100vh;
}

	.about-inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: flex-start;
		overflow-y: scroll;
		padding-top: 70px;
		padding-left: 60px;
		padding-right: 30px;
		gap: 50px;
	}

	.about-inner::-webkit-scrollbar {
		width: 33px;
	}
	.about-inner::-webkit-scrollbar-track {
		background: transparent;
	}
	.about-inner::-webkit-scrollbar-thumb {
		width: 1px;  
		background-color: black;
		border: solid 16px gainsboro;
		border-radius: 16px;
	}

		.about-bold {
			font-family: arial narrow;
			font-size: 3.4rem;
			line-height: 3.4rem;
			font-weight: normal;
			user-select: none;
		}

		.about-text {
			width: 100%;
			font-family:'Times Now';
			font-style: normal;
			font-weight: 300;
			font-size: 3.3rem;
			line-height: 3.4rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 30px;
		}

		.about-side	{
			width: 100%;
			max-width: 560px;
		}

		.about-copy {
			width: 100%;
			max-width: 560px;
			padding-top: 20px;
			padding-bottom: 24px;
			border-top: solid 1px black;
			font-family: arial narrow;
			font-weight: normal;
			font-size: 3rem;
			user-select: none;
		}

/* DESIGNER FULL INTERVIEWS SECTION*/

.section-1 {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 10;
	margin-right: calc(-1 * (100vw - 150px));
	transition: 2s;
	width: 100vw;
	height: 100%;
	background-color: #E94BFF;
	border-left: solid 1px black;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-radius: 16px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

			.section-1.open {
				margin-right: 0px;
				transition: 2s;
			}

			.section-1.pushed {
				margin-right: 0px;
				transition: 2s;
			}

			.section-1.closed {
				margin-right: calc(-1 * (100vw - 150px));
				transition: 2s;
			}

	.section-1-tab {
		width: 50px;
		height: 100%;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: flex-end;
		cursor: pointer;
	}

	.by-designer {
		width: calc(100% - 150px);
		height: 100%;
		padding: 70px;
		padding-top: 97px;
		padding-left: 20px;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;

		overflow-y: scroll;
	}

		.sub-head-by-designer {
			position: absolute;
			bottom: 0px;
			left: 60px;
			z-index: 11;
			width: 400px;
			height: 50px;
			font-family: arial narrow;
			font-weight: bold;
			font-size: 3rem;
			text-align: left;
			user-select: none;
		}

		.wrap {
			display: flex;
			flex-flow: row nowrap;
		}

		.designer {
			height: auto;
			flex-grow: 0;
			cursor: pointer;
			user-select: none;
		}
		
			.dot {
				font-family: 'Times Now';
				font-style: normal;
				font-size: 6rem;
				opacity: 0;
				transition: 0.3s;
				cursor: default;
			}
			
			.dot-hover {
				opacity: 1;
				transition: 0.3s;
			}

	/* INTERVIEWS POP-UP*/

		.interview {
			width: 100vw;
			height: calc(100vh - 1px);
			margin-bottom: -100vh;
			position: absolute;
			bottom: 0px;
			left: 50px;
			z-index: 12;

			background-color: gainsboro;
			border-top: solid 1px black;
			border-left: solid 1px black;
			border-radius: 16px 0px 0px 0px;
			transition: 2s;
		}

		.interview.show {
			margin-bottom: 0px;
			transition: 2s;
		}

			.escape {
				position: absolute;
				top: 24px;
				right: 184px;
				font-family: arial narrow;
				font-weight: bold;
				font-size: 3rem;
				line-height: 3rem;
				text-align: center;
				cursor: pointer;
				z-index: 13;
			}

			.interview-name {
				position: absolute;
				top: 24px;
				left: 32px;
				font-family: arial narrow;
				font-weight: bold;
				font-size: 3rem;
				line-height: 3rem;
				text-align: center;
				cursor: pointer;
				z-index: 13;
			}
		
			.interview-inner {
				width: calc(100vw - 150px);
				height: 100%;
				margin-right: 100px;
				overflow-y: scroll;
			}

			.interview-inner::-webkit-scrollbar {
				width: 33px;
			}
			.interview-inner::-webkit-scrollbar-track {
				background: transparent;
			}
			.interview-inner::-webkit-scrollbar-thumb {
				width: 1px;  
				background-color: black;
				border: solid 16px gainsboro;
				border-radius: 16px;
			}

			.qa-block {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: baseline;
				align-content: flex-start;
				margin-left: 33px;
				padding-top: 50px;
				padding-bottom: 20px;
				border-bottom: solid 1px black;
			}

			.qa-block.first {
				margin-top: 100px;
			}

			.qa-block.last {
				margin-bottom: 80px;
				border-bottom: none;
			}

				.i-question {
					font-family:arial narrow;
					font-style: normal;
					font-weight: 300;
					font-size: 3rem;
					line-height: 3.3rem;
					width: 30%;
					padding-left: 50px;
					padding-bottom: 50px;
				}

				.i-answer {
					width: 70%;
				}

					.a-paragraph {
						font-family:'Times Now';
						font-style: normal;
						font-weight: 300;
						font-size: 3.3rem;
						line-height: 3.3rem;
						padding-left: 60px;
						padding-right: 50px;
						padding-bottom: 30px;
					}

					.a-list-title {
						font-family:'Times Now';
						font-style: normal;
						font-weight: 300;
						font-size: 3.3rem;
						line-height: 5rem;
						padding-left: 60px;
						padding-right: 50px;
						padding-bottom: 20px;
					}

					.underline-list {
						padding-bottom: 6px;
						border-bottom: solid 1px black;
					}

					.a-list-item {
						font-family:'Times Now';
						font-style: normal;
						font-weight: 300;
						font-size: 3.3rem;
						line-height: 3.3rem;
						padding-left: 110px;
						padding-right: 50px;
						padding-bottom: 10px;
						text-indent: -30px;
						max-width: 700px;
					}

					.a-list-item.last {
						padding-bottom: 30px;
					}

					.quote {
						font-style: italic;
					}


/* QUESTIONS SECTION*/

.section-2 {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 20;
	margin-right: calc(-1 * (100vw - 100px));
	transition: 2s;
	width: 100vw;
	height: 100%;
	background-color: #76FF4F;
	border-left: solid 1px black;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-radius: 16px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

			.section-2.open {
				margin-right: -50px;
				transition: 2s;
			}

			.section-2.pushed {
				margin-right: -50px;
				transition: 2s;
			}

			.section-2.closed {
				margin-right: calc(-1 * (100vw - 100px));
				transition: 2s;
			}

	.section-2-tab {
		width: 50px;
		height: 100%;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: flex-end;
		cursor: pointer;
	}

	.by-question {
		width: calc(100% - 150px);
		height: 100%;
		overflow-y: scroll;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: flex-end;
		align-content: flex-end;
	}

	.sub-head-by-question {
		position: absolute;
		bottom: 0px;
		left: 60px;
		z-index: 11;
		width: 400px;
		height: 50px;
		font-family: arial narrow;
		font-weight: bold;
		font-size: 3rem;
		text-align: left;
		user-select: none;
	}

	.sub-head-bg-line {
		padding-top: 20px;
		border-top: solid 1px black;
		background-color: #76FF4F;
	}

	.question-inner {
		width: calc(100% - 220px);
		max-width: 1000px;
		height: 100%;
		padding: 70px;
		padding-top: 84px;
		padding-right: 50px;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		overflow-y: scroll;
	}

		.question-inner::-webkit-scrollbar {
			width: 33px;
		}
		.question-inner::-webkit-scrollbar-track {
			background: transparent;
		}
		.question-inner::-webkit-scrollbar-thumb {
			width: 1px;  
			background-color: black;
			border: solid 16px #76FF4F;
			border-radius: 16px;
		}

			.question-trigger {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-content: space-between;
				align-items:flex-end;

				width: 100%;
				padding-top: 16px;
				padding-bottom: 16px;
				padding-right: 16px;
				border-top: solid 1px black;
				border-bottom: solid 1px black;
				margin-top: -1px;

				font-family:arial narrow;
				font-style: normal;
				font-weight: 300;
				font-size: 3rem;
				line-height: 3.3rem;
				text-transform: uppercase;

				cursor: pointer;
				user-select: none;
			}

				.question-text {
					width: 80%;
				}

				svg.arrows2 {
					width: auto;
					height: 22px;
					stroke-width: 1;
					margin-bottom: -3px;
					user-select: none;
				}

					.arrow {
						transition: 0.7s;
						transition-delay: 0.3s;
					}

					.arrow.rotate {
						transform: rotate(0.5turn);
						transition: 0.5s;
						transition-delay: 0s;
					}

			.question-content {
				width: 100%;
				max-height: 0px;
				transition: max-height 1s ease-out;

				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-content: flex-start;
				align-items:baseline;
				overflow:hidden;
			}

			.question-content.open {
				max-height: 7000px;
				transition: max-height 1s ease-in;
			}

			.lable	{
				width: 60px;
				padding-left: 32px;
				padding-right: 24px;
				font-family:arial narrow;
				font-style: normal;
				font-weight: 300;
				font-size: 3rem;
				line-height: 3.3rem;
				text-align: right;
				user-select: none;
			}

			.response {
				width: calc(100% - 100px);
				font-family:'Times Now';
				font-style: normal;
				font-weight: 300;
				font-size: 3.3rem;
				line-height: 3.3rem;
				padding-left: 32px;
				padding-right: 32px;
				padding-bottom: 30px;
			}

			.response.pad-top {
				padding-top: 36px;
			}

			.response.pad-end {
				padding-bottom: 44px;
			}

				.r-list-title {
					font-family:'Times Now';
					font-style: normal;
					font-weight: 300;
					font-size: 3.3rem;
					line-height: 5rem;
					padding-top: 30px;
					padding-bottom: 10px;
				}

				.r-list-item {
					font-family:'Times Now';
					font-style: normal;
					font-weight: 300;
					font-size: 3.3rem;
					line-height: 3.3rem;
					padding-bottom: 10px;
					padding-left: 50px;
					padding-right: 50px;
					text-indent: -30px;
					max-width: 700px;
				}

				.r-list-item.last {
					padding-bottom: 30px;
				}


/* LIBRARY SECTION*/

.section-3 {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 30;
	margin-right: calc(-1 * (100vw - 50px));
	transition: 2s;
	width: 100vw;
	height: 100%;
	background-color: #FF8930;
	border: solid 1px black;
	border-right: none;
	border-radius: 16px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

			.section-3.open {
				margin-right: -100px;
				transition: 2s;
			}

			.section-3.closed {
				margin-right: calc(-1 * (100vw - 50px));
				transition: 2s;
			}

	.section-3-tab {
		width: 50px;
		height: 100%;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: flex-end;
		cursor: pointer;
	}

	.library {
		width: calc(100% - 150px);
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
	}

		.sub-head-library {
			position: absolute;
			bottom: 0px;
			left: 60px;
			z-index: 31;
			width: 400px;
			height: 50px;
			font-family: arial narrow;
			font-weight: bold;
			font-size: 3rem;
			text-align: left;
			user-select: none;
		}

		.library-inner {
			width: 100%;
			height: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-start;
			overflow-y: scroll;
		}

			.library-left {
				width: 50%;
				height: 100%;
				flex-grow: 2;
				padding: 30px;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-end;
				align-content: flex-start;
				align-items: flex-end;
				gap: 40px 30px;
				border-right: solid 1px black;
				overflow-y: scroll;
			}

				.library-left::-webkit-scrollbar {
					width: 33px;
				}
				.library-left::-webkit-scrollbar-track {
					background: transparent;
				}
				.library-left::-webkit-scrollbar-thumb {
					width: 1px;  
					background-color: black;
					border: solid 16px #FF8930;
					border-radius: 16px;
				}

				img.width {
					display: block;
					width: 100%;
					mix-blend-mode: multiply;
				}
				img.height {
					display: block;
					height: 100%;
					mix-blend-mode: multiply;
				}

				.cover {
					width: 120px;
					border-radius: 2px;
					background-color: #FF8930;
					overflow: hidden;
					transition: 0.6s;
					user-select: none;
					cursor: pointer;
				}
				.video {
					height: 140px;
					border-radius: 2px;
					background-color: #FF8930;
					overflow: hidden;
					transition: 0.6s;
					user-select: none;
					cursor: pointer;
				}
				.video-s {
					height: 160px;
					border-radius: 2px;
					background-color: #FF8930;
					overflow: hidden;
					transition: 0.6s;
					user-select: none;
					cursor: pointer;
				}

				.cover:hover {
					transform: scale(1.1);
				}
				.video:hover {
					transform: scale(1.1);
				}
				.video-s:hover {
					transform: scale(1.1);
				}


			.library-right {
				width: 550px;
				height: 100%;
				overflow-y: scroll;
				padding-top: 22px;
				padding-bottom: 38px;
				padding-left: 40px;
				padding-right: 30px;
			}

				.library-right::-webkit-scrollbar {
					width: 33px;
				}
				.library-right::-webkit-scrollbar-track {
					background: transparent;
				}
				.library-right::-webkit-scrollbar-thumb {
					width: 1px;  
					background-color: black;
					border: solid 16px #FF8930;
					border-radius: 16px;
				}

				.book-wrap {
					width: 100%;
					min-height: 100%;
					font-family:'Times Now';
					font-style: normal;
					font-weight: 300;
					font-size: 3rem;
					line-height: 3rem;

					display: flex;
					flex-flow: column nowrap;
					justify-content: space-between;
					align-items: flex-start;
				}

				.book-wrap.hidden {
					display: none;
				}

					.recommended-by {
						height: 50px;
						font-family: arial narrow;
						font-weight: bold;
						font-size: 3rem;
						text-align: left;
						margin-bottom: 160px;
					}

					.book-info {
						width: 100%;
					}

						.book-title{
							font-family: arial narrow;
							font-size: 5rem;
							line-height: 6rem;
							font-weight: normal;
							text-decoration: none;
							color: black;
							user-select: none;
							cursor: pointer;
						}

						svg.arrows3 {
							width: auto;
							height: 28px;
							stroke-width: 1;
							margin-bottom: -3px;
							user-select: none;
						}

						.book-sub {
							font-family:'Times Now';
							font-style: normal;
							font-weight: 300;
							font-size: 4.7rem;
						}

						.book-underline	{
							padding-bottom: 3px;
							border-bottom: solid 1px black;
						}

						.book-description {
							font-family:'Times Now';
							font-style: normal;
							font-weight: 300;
							font-size: 3.3rem;
							line-height: 3.3rem;
							margin-top: 34px;
							padding-top: 30px;
							padding-bottom: 30px;
							border-top: solid 1px black;
							border-bottom: solid 1px black;
						}

						.initial {
							font-family:arial narrow;
							font-style: normal;
							font-weight: 300;
							font-size: 3rem;
							line-height: 3.3rem;
							user-select: none;
						}



