* {
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
  }

  @font-face {
    font-family: "redaction";
    src: url("Redaction35-Regular.woff");
  }
  
  body {
    font-size: 100px;
    font-family: sans-serif;
  }
  
  div.compass {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 10;
    pointer-events: none;
    margin-left: -150px;
    margin-top: -150px; 
    left: 50%;
    top: 50%;
    transition: 0.5s;
    transform-origin: center center;
  }

  div.border {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 100vh; 
    z-index: 10;
    pointer-events: none;
    /* left: 50%;
    top: 50%; */
    /* margin-left: 150px;
    margin-top: 150px; */
    /* transform: translate(-50%, -50%); */
  }

  div.map {
    display: flex;
    flex-wrap: wrap;
    width: 300vw;
  }
  
  /* MAPBLOCK */

  div.mapBlock {
    width: 100vw;
    height: 100vw;
    padding: 20px;
    /* border: 1px solid black; */
    overflow: scroll;
    opacity: 0;
    position: relative;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: contain; 
  }
  
  div.mapBlock.show {
    opacity: 1;
  }
  
  div.grid {
    display:flex;
    flex-wrap:wrap;
    /* height: 100vh;
    overflow: scroll; */
  }

  div.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  div.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  div.centertitle {
    width: 100%;
    font-size: 100px;
    font-family: "redaction";
    text-align: center;
  }

  div.centertext {
    width: 100%;
    height: 50vh;
    overflow: scroll;
    background-color: darkkhaki;
    padding: 20px;
    font-size: 50px;
    border: 20px;
    border-color: gainsboro;
    border-style: ridge;
    font-family: cursive;
  }

  div.col {
    width:50%;
  }

  span.italics {
    font-style: italic;
  }

  div.title {
    font-size: 200px;
    font-family: "redaction";
    line-height: 190px;
    text-align: center;
  }

  div.text {
    font-size: 30px;
    overflow: scroll;
    height: 50vh;
    padding: 20px;
    background-color: darkkhaki;
    border: 10px;
    border-style: ridge;
  }

  span.letter {
    filter: blur(10px);
  }

  span.letter:hover {
    filter: blur(0px);
  }

  span.btnlink {
    background-color: lime;
    cursor: pointer;
  }

  /* BUTTONS */

  div.btnNW {
    color: transparent;
    text-shadow: 0 0 0px black;
  }

  .btnNW:hover {
    transition: 1s;
    color: transparent;
    text-shadow: 0 0 30px black;
  }
  

  /* Globals */

  .pointer {
    cursor: pointer;
  }