body {
    background-color: gray;
}

div.poster {
    background-color: white;
    width: 75%;
    border-radius: 500px 500px 0px 0px;
    margin: auto;
}

div.text {
    font-size: 120px;
    font-family: Arial;
    text-align: center;
    color: gray;
    transition: 0.5s;
    /* -webkit-text-stroke: 3px palegreen; */
}

/* rule 1 */

div.text.one {
    font-size: 40px;
}

div.text.two {
    font-size: 100px;
}

div.text.three {
    font-size: 160px;
}


/* rule 2 */

div.text.a {
    color: plum;
}

div.text.b {
    color: gray;
}

div.text.c {
    color: springgreen;
}


/* rule 3 */

div.text.x {
    font-weight: bold;
}

div.text.y {
    font-family: arial narrow;
}

div.text.z {
    -webkit-text-stroke: 40px;

}

div.small {
    font-size: 60px;
    text-align: left;
    color: palegreen;
    background-color: black;
}