* {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: hidden;
	cursor: crosshair;
	font-family: arial narrow;
	font-weight: 300;
	font-size: 1em;
}

html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
	min-width: max(100vw, calc(100vh * 8 / 6));
	min-height: max(calc(100vw * 6 / 8), 100vh);
	left: min(-50vw, calc(-100vh * 8 / 12));
	margin: 0;
	padding: 0;
    display: flex;
}

p {
	color: white;
	position: fixed;
	overflow: visible;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	width: 25vw;
}

p#top {
	left: 1em;
	top: 1em;
	justify-content: flex-start;
}

p#bottom {
	right: 1em;
	bottom: 1em;
	text-align: right;
	justify-content: flex-end;
}

p em {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: -0.5em;
	min-width: 200vw;
}