/* Basic page style resets */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; 
  font-size: 18px;
  background-color: whitesmoke;
  padding: 20px;
  transition: 0.5s;
}
  

.text {
  
}
  
.clickable {
  cursor: pointer;
  border: 1px solid black;
}
  
.clickable:hover {
  background: cornsilk;
}