body {
    background-image: url("images/windows.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "lores";
    src: url("BBB_Simulator_Black.woff");
}

div.poster {
    width: 75%;
    margin: auto;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

div.col {
    overflow: hidden;
}

/* 2 column grid */

div.w1-2 {
    width: 50%;
}

div.w2-2 {
    width: 100%;
}

div.text {
    font-size: 70px;
    font-family: "lores";
    text-align: left;
    color: black;
    transition: 0.5s; 
}

/* rule 1 */

div.text.one {
    font-size: 40px;
}

div.text.two {
    font-size: 80px;
}

div.text.three {
    font-size: 100px;
}


/* rule 2 */

div.text.a {
    background-image: url("images/error.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: transparent;
}

div.text.b {
    background-image: url("images/paint.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: transparent;
}

div.text.c {
    background-image: url("images/login.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: transparent;
}


/* rule 3 */

div.text.x {
    text-align: center;
}

div.text.y {
    text-align: left;
}

div.text.z {
    text-align: right;
}

div.small {
    font-family: Arial narrow;
    font-size: 30px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}