body {
    background-color: white;
}

@font-face {
    font-family: "modak";
    src: url("Modak.woff");
}

@font-face {
    font-family: "suezone";
    src: url("SuezOne-Regular.woff");
}

img {
    position: absolute;
    z-index: 1;
}

.spring {
    top: 60px;
    left: 535px;
    width: 100px;
}

.autumn {
    left: 480px;
    top: 130px;
    width: 120px;
}

.summer {
    left: 270px;
    top: 290px;
    width: 100px;
}

.winter {
    left: 230px;
    top: 180px;
    width: 100px;
}

.food {
    left: 270px;
    top: 2px;
    width: 100px;
}

.bread {
    left: 100px;
    top: 30px;
    width: 100px;
    transform: rotate(10deg);
}

div.container {
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.r-a {
    text-align: right;
}

.mb {
    margin-bottom: 70px;
}

.mt {
    margin-top: 15px;
}

.bd {
    font-size: 65px;
    font-family: "modak";
    line-height: 50px;
    color: yellow;
    -webkit-text-stroke: 3px black;
    text-shadow: 3px 3px black;
}

div.sandwhich {
    font-size: 100px;
    font-family: "suezone";
    color: red;
    -webkit-text-stroke: 3px yellow;
    transform: scaleY(1.9) rotate(-5deg);
    transform-origin: center bottom;
    text-shadow: 7px 7px yellow;
}

.guess {
    font-size: 80px;
    font-family: Impact;
    text-align: right;
    line-height: 80px;
    color: deepskyblue;
    -webkit-text-stroke: 3.5px black;
}

span.guess.skew {
    transform: skew(15deg, 10deg);
}

div.season {
    font-size: 155px;
    font-family: "suezone";
    text-align: right;
    line-height: 100px;
    transform: scaleY(1.7);
    transform-origin: center bottom;
    color: deepskyblue;
    -webkit-text-stroke: 5px red;
    text-shadow: 7px 7px red;
}