/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

@font-face {
  font-family: "free";
  src: url("fonts/FreeSansBold.woff");
}

@font-face {
  font-family: "redaction";
  src: url("fonts/redaction-italic");
}

body {
  font-family: "free";
  background: linear-gradient(180deg, whitesmoke 76%, rgba(255,202,192,1) 86%, rgba(255,149,128,1) 92%, #FE2E00);
  line-height: 3.6em;
}

div.main {
  display: none;
} 

div.page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div.left {
  width: 70%;
  padding-right: 10%;
  font-size: 3.5em;
  height: 100vh;
  overflow: scroll;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

div.right{
  width: 30%;
  position: fixed;
  top: 20px;
  right: 20px;
  padding-left: 1%;
  z-index: 9;
}

div.nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 3.5em;
  background: radial-gradient(circle, #FE2E00 0%, rgb(0,0,0,0) 55%);
}

.nav a {
  background-color: whitesmoke;
  box-shadow: inset 0px 0px 20px 10px black;
  font-family: "free";
  border-radius: 40px;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nav a:hover {
  font-family: "redaction";
}

div.content {
  
}

div.content img {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.title {
  padding-top: 3.5%;
  padding-left: 2%;
  height: 100vh;
  font-size: 10em;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

/* CONTENT AFTER BLINKS */

div#randomBlinks {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

div.canvas-wrapper {
  display: none; 
}

div.x {
  /* font-size: 0px; */
  width: 200px;
  background-image: url("face.png");
  background-size: contain;
  background-repeat: no-repeat;
}


div.y {
  /* font-size: 0px; */
  width: 200px;
  background-image: url("phone.png");
  background-size: contain;
  background-repeat: no-repeat;
}

div.z {
  font-size: 75px;
}

div.z:after {
  content:'CONTENT';
  color: #FE2E00;
  /* padding: 10px; */
  /* background-color: whitesmoke; */
  /* box-shadow: inset 0px 0px 20px 10px #FE2E00; */
  /* border-radius: 30px; */
}


div.a {
  font-size: 30px;
}

div.a:after {
  content:'[IMG]';
  color: black;
}

div.b {
  font-size: 100px;
}

div.b:after {
  content:'...';
  color: black;
}

div.c {
  /* font-size: 0px; */
  width: 200px;
  background-image: url("eye.png");
  background-size: contain;
  background-repeat: no-repeat;
}

div.d {
  font-size: 36px;
}

div.d:after {
  content:'ADVERTISEMENT';
  padding: 10px;
  /* background-color: whitesmoke; */
  box-shadow: inset 0px 0px 10px 10px grey;
  color: black;
}

div.e {
  /* font-size: 0px; */
  width: 200px;
  background-image: url("dither-5.png");
  background-size: contain;
  background-repeat: no-repeat;
}

div.f {
  /* font-size: 0px; */
  width: 200px;
  background-image: url("pixels.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* GLOBALS */
.pointer {
  cursor: pointer;
}

img {
  width: 100%;
}

div.content img {
  -webkit-filter: grayscale(1);
  mix-blend-mode: multiply;
}

.sans {
  font-family: "free";
}

.redaction {
  font-family: "redaction";
}

::selection {
  background: #FE2E00; /* WebKit/Blink Browsers */
}

.w-50 {
  width: 50%;
}

/* SPLASH PAGE */
.splash {
  position:fixed;
  top:0;
  left:0;
  z-index: 10;
  backdrop-filter: blur(40px);
  width:100vw;
  height:100vh;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.splash.remove {
  display: none;
}

div.splash-title {
  font-size: 80px !important;
  margin-bottom: 50px;
  transform: scaleY(1.5);
}

.splash-message {
  width:40%;
  padding:40px;
  font-size: 20px;
  line-height: 20px !important;
  color: black;
  /* background-color: whitesmoke; */
  font-family: 'sans';
  text-align: center;
  box-shadow: inset 0px 0px 20px 10px #FE2E00;
  font-family: "free";
  border-radius: 30px;
}

.splash-message img {
  width: 20%;
  margin-bottom: 40px;
}
