body {
    background-color: whitesmoke;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
    cursor: alias;
}

a:hover {
    font-style: italic;
}

div.portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

/* SIDEBAR */

div.sidebar {
    width: 20%;
    overflow: scroll;
    height: 100vh;
}

div.name {
    font-size: 36px;
}

div.logo {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: flex-end;
}

div.logo img {
    width: 100%;
}

div.nav {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    border-bottom: 1px solid black;
}

div.title.projects {
    cursor: default;
}

div.display {
    display: none;
}

div.nav div.display, div.nav div.nodisplay {
    font-size: 18px;
}

div.description {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

div.description {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
}

/* PROJECT CONTENTS */

div.content {
    border-left: 1px solid black;
    height: 100vh;
    width: 80%;
    padding: 10px;
    overflow: scroll;
}

/* GLOBAL STYLES */

/* PADDING */
.padtop10 {
    padding-top: 10px;
}

.padright20 {
    padding-right: 20px;
}

/* CURSOR */
.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

.pinkgrad {
    background: linear-gradient(0deg,pink 0%, whitesmoke 51%, pink 100%);
}

.greengrad {
    background: linear-gradient(0deg, lightgreen 0%, whitesmoke 51%, lightgreen 100%);
}

.bluegrad {
    background: linear-gradient(0deg, lightskyblue 0%, whitesmoke 51%, lightskyblue 100%);
}
