body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 150px;
    line-height: 1em;
    text-align: left;
  }
  
  div {
    box-sizing: border-box;
    float: left;
    /* word-wrap: break-word;
    word-break: break-all; */
  }
  
  
  
  .blurry {
    color: transparent;
    text-shadow: 0 0 0px rgb(79, 143, 233);
  }
  
  .blurry-r {
    color: transparent;
    text-shadow: 0 0 0px rgb(79, 143, 233);
    font-family: serif;
  }
  
  img {
    width: 100%;
  }

  
  div.rollover {
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

div.graphic {
    width: 40%;
}

.show {
    display: flex !important;
}

  .hidden {
    display: none;
}