body {
    background: gainsboro;
}

div.poster {
    background: gainsboro;
    width: 75%;
    margin: auto;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

div.col {
    overflow: hidden;
}


/* 2 column grid */

div.w1-2 {
    width: 50%;
}

div.w2-2 {
    width: 100%;
}


/* 3 column grid */

div.w1-3 {
    width: 33.33333%;
}

div.w2-3 {
    width: 66.66666%;
}

div.w3-3 {
    width: 100%;
}


/* 4 column grid */

div.w1-4 {
    width: 25%;
}

div.w2-4 {
    width: 50%;
}

div.w3-4 {
    width: 75%;
}

div.w4-4 {
    width: 100%;
}

div.text {
    font-size: 70px;
    font-family: Arial narrow;
    text-align: center;
    color: black;
    transition: 0.5s;
}


/* rule 1 */

div.text.one {
    text-align: center;
    box-shadow: inset 0px 0px 20px 3px black;
}

div.text.two {
    text-align: left;
    box-shadow: inset 0px 0px 20px 3px black;
}

div.text.three {
    text-align: right;
    box-shadow: inset 0px 0px 20px 3px black;
}


/* rule 2 */

div.text.a {
    font-size: 40px;
}

div.text.b {
    font-size: 80px;
}

div.text.c {
    font-size: 120px;
}


/* rule 3 */

div.text.x {
    transform: skew(0deg);
}

div.text.y {
    transform: skew(-25deg);
}

div.text.z {
    transform: skew(25deg);
}

div.byline {
    font-family: Arial narrow;
    font-size: 20px;
    text-align: left;
    color: black;
    margin-bottom: 20px;
}


/* font size 40px */

.fs40 {
    font-size: 40px;
}